:root {
    --uog-red: #c20430;
    --uog-red-darker: #a30429;
    --uog-yellow: #ffc72a;
    --btn-colour: rgba(0, 0, 0, 0.562);
    --btn-colour-hover: rgba(0, 0, 0, 0.082);
}   

* {
    font-family: "Roboto","Arial",sans-serif;
}

body {
    width: 400px;
    background-color: white;
    margin: 0;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background-color: var(--uog-yellow);
}

.title {
    font-size: 25px;
    text-align: center;
    font-weight: 700;
}

/* hr {
    border: 1px solid rgba(0, 0, 0, 0.137);
    margin: 0;
} */

.list-container {
    padding: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    padding: 5px;   
}

.btn {
    background-color: var(--uog-red);
    color: white;
    border-width: 0px;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
}

.btn:hover {
    background-color: var(--uog-red-darker);
}



.back-button-container {
    position: absolute;
    top: 0;
    left: 0;
    margin: 5px;
    padding: 7px 6px 5px 8px;
    border-radius: 5px;
    margin-top: 8px;
}

.back-button-container:hover {
    background-color: var(--btn-colour-hover);
}

.back.button {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-top: 2px solid var(--btn-colour);
    border-right: 2px solid var(--btn-colour);
    transform: rotate(-135deg);
    text-align: center;
}

.close.button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1px 6px 2px;
    margin: 5px;
    border-radius: 5px;
}

.close.button::after {
    content: "\2715";
    width: 10px;
    height: 10px;
    font-size: 20px;
    font-weight: 600; 
}

.button {
    color: var(--btn-colour);
}

.close.button:hover {
    background-color: var(--btn-colour-hover);
}

.form {
    margin: 5px;
}

.form-sub-container {
    padding-bottom: 10px;
}

label {
    font-size: 15px;
    font-weight: 550;
}

.label-container {
    padding-bottom: 5px;
}

.form-control {
    width: 60%;
    padding: 6px 10px;
}

input[type="text"] {
    width: calc(60% - 24px);
}

.inactive {
    display: none;
}

